{% extends "layout.html" %}
{% block content %}

<style>
  .bottom-one {
     margin-bottom: 0.25cm;
  }
</style>

<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h2>Jared Dyreson</h2>
<p>Software developer based out of Southern California</p>
<div class="article-metadata">
<p class="bottom-one"></p>
</div>

<h2>Links</h2>
<div class="article-metadata">
<p class="bottom-one"></p>
</div>
<i class="fa fa-github-square", style="font-size:32px"></i>
<p class="bottom-one"></p>
<i class="fa fa-linkedin-square", style="font-size:32px"></i>

{% endblock content %}
