{% extends "layout.html" %}
{% block content %}

<style>
  .bottom-one {
     margin-bottom: 0.5cm;
  }
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

  .button:hover {
    background-color: green;
  }
</style>


{% for calculator_button in form.buttons %}
  {% if (calculator_button % 3 == 0) %}
    <form action="/expression" method="post">
      <button name="input_button" type="submit", value={{ calculator_button }}>{{ calculator_button }}</button>
  </form>
  {% endif %}
{% endfor %}

{% endblock content %}


