{% extends "layout.html" %}
{% block content %}

<style>
  .bottom-one {
     margin-bottom: 0.5cm;
  }
</style>

<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="#">Starbucks Automa</a></h2>
    <p class="article-content">Auto scheduler for the Starbucks Partner Portal</p>
    <img src="https://www.freecomputerwallpapers.net/thumbs/starbucks_coffee_robot_wallpaper-t2.jpg"></img>
    <div class="article-metadata">
    <p class="bottom-one"></p>
    </div>
    <ul>
    <li><a class="project-link" href="https://asciinema.org/a/9m8kAz6O45TyPMPAU34Hivtiv?t=1">Demo</a>
    <li><a class="project-link" href="https://jareddyreson.github.io/posts/starbucks_automa_documentation.html">Documentation</a>
    <li><a class="project-link" href="https://github.com/JaredDyreson/starbucks_automa_production">Source Code</a>
    </ul>
  </div>
</article>

<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="#">Funnel Cake</a></h2>
    <p class="article-content">Utility for managing Spotify playlists</p>
    <img src="https://jareddyreson.github.io/images/funnel_cake.jpg", width=480, height=300></img>
    <div class="article-metadata">
    <p class="bottom-one"></p>
    </div>
    <ul>
    <li><a class="project-link" href="http://funnelcake-env.s29abpc9ge.us-west-1.elasticbeanstalk.com/">Demo</a>
    <li><a class="project-link" href="https://github.com/JaredDyreson/Spoterm/blob/master/flask_stuff/DOCUMENTATION.md">Documentation</a>
    <li><a class="project-link" href="https://github.com/jareddyreson/funnel-cake">Source Code</a>
    </ul>
  </div>
</article>
{% endblock content %}
